body {
  background: rgb(55,65,65);
background: linear-gradient(180deg, rgba(55,65,65,1) 15%, rgba(43,149,101,1) 33%, rgba(209,202,58,1) 44%, rgba(227,94,13,1) 53%, rgba(34,193,195,1) 65%, rgba(16,44,111,1) 82%); 
}
article {
    max-width: 550px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
  }

body {
  font-family: monospace;
}

h1 {
  font-size: 24px;
}

h2 {
      padding-bottom: 10px;
  		border-bottom: 3px solid rgb(255, 255, 255);
      margin-top: 40px;
    }

h2 {
    padding-bottom: 10px;
		border-bottom: 3px solid rgb(255, 255, 255);
    margin-top: 40px;
  }

h3 {
      padding-bottom: 10px;
  		border-bottom: 3px solid rgb(255, 255, 255);
}

  p {
    line-height: 20px;
  }

a:link {
  text-decoration: underline;
  color: white;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: white;
}

a:visited {
  font-weight: lighter;
  color: white;
}
