body {
  background: rgb(26,33,26);
background: linear-gradient(180deg, rgba(26,33,26,1) 0%, rgba(97,170,57,1) 18%, rgba(237,200,68,1) 33%, rgba(255,53,53,1) 54%, rgba(27,73,148,1) 74%, rgba(6,6,55,1) 100%); 
  }

article {
    max-width: 550px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
  }

body {
  font-family: monospace;
}

h1 {
  font-size: 24px;
}

h2 {
      padding-bottom: 10px;
  		border-bottom: 3px solid rgb(255, 255, 255);
      margin-top: 40px;
    }

h2 {
    padding-bottom: 10px;
		border-bottom: 3px solid rgb(255, 255, 255);
    margin-top: 40px;
  }

h3 {
      padding-bottom: 10px;
  		border-bottom: 3px solid rgb(255, 255, 255);
}

  p {
    line-height: 20px;
  }

a:link {
  text-decoration: underline;
  color: white;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: white;
}

a:visited {
  font-weight: lighter;
  color: white;
}
